<!doctype html>
<html>
<head>
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <mnt-app>
        <!-- loading -->
        <div class="spinner-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </mnt-app>

    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>